body {
    margin: 0;
    padding: 0;
    background-image: url('img/bg-img.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
}

h1, h2 {
    color: black;
}

.btn-reset {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6c757d;
    /* Warna latar belakang */
    color: #fff;
    /* Warna teks */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 10px;
    /* Jarak dari tombol pencarian */
    transition: background-color 0.3s ease;
}

.welcome-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.btn-enter {
    padding: 10px 20px;
    background: linear-gradient(45deg, #007bff, #0056b3);
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
}

.btn-enter:hover {
    background: linear-gradient(45deg, #0056b3, #007bff);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}
